<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="#{title.global}"></title>
    <link rel="shortcut icon" th:href="@{/static/img/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/static/css/main.css}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/static/css/pro.main.css}">
    <link rel="stylesheet" th:href="@{/static/css/pro.common.css}">
    <link rel="stylesheet" th:href="@{/static/css/dark-mode.css}">
    <link rel="stylesheet" th:href="@{/static/css/fontawesome-all.css}">
    <link rel="stylesheet" th:href="@{/static/css/sweetalert2.min.css}" type="text/css"/>
    <style id="antiClickjack">
        body {
            display: none !important;
        }
    </style>
    <script>
        if (self === top) {
            var antiClickjack = document.getElementById("antiClickjack");
            antiClickjack.parentNode.removeChild(antiClickjack);
        }
    </script>
    <script th:src="@{/static/js/jquery-3.5.1.min.js}"></script>
    <script th:src="@{/static/js/bootstrap.js}"></script>
    <script th:src="@{/static/js/dark-mode-switch.js}" defer></script>
    <script th:src="@{/static/js/popper.min.js}"></script>
    <script th:src="@{/static/js/sweetalert2.min.js}"></script>
</head>
<body>
<div class="container">
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="fixed-top text-right pr-5">
            <div class="custom-control custom-switch">
<!--                <input type="checkbox" class="custom-control-input" id="darkSwitch">-->
<!--                <label class="custom-control-label" for="darkSwitch">Dark Mode</label>-->
            </div>
        </div>

        <div class="row justify-content-center align-items-end w-100">
            <div class="col-3">
                <form class="w-100" id="loginForm" method="post" th:action="@{/login}" th:if="${idps == null}">
                    <div class="form-group input-group input-group-sm">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-user"></i></div>
                        </div>
                        <input type="text" class="form-control" id="userId" name="userId" th:placeholder="#{login.userId}">
                    </div>
                    <div class="form-group input-group input-group-sm">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-key"></i></div>
                        </div>
                        <input type="password" class="form-control" id="inputPwd" name="password" th:placeholder="#{login.pwd}">
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="input-group input-group-sm w-auto">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fas fa-globe"></i></div>
                            </div>
                            <select class="form-control" id="locale">
                                <option value="zh_TW" th:utext="#{locale.taiwan}"></option>
                            </select>
                        </div>

                        <input id="btn-submit" type="button" class="btn btn-outline-primary btn-sm px-4" th:value="#{btn.login}"></input>
                    </div>
                </form>
                <form class="w-100" id="loginForm" th:action="@{/saml/login}" method="get" th:if="${idps != null}">
                    <div class="form-group input-group input-group-sm">
                        &nbsp;
                    </div>
                    <div class="form-group input-group input-group-sm">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-user"></i></div>
                        </div>
                        <select name="idp" class="form-control" >
                            <option th:each="idp : ${idps}" th:value="${idp}" th:text="${idp}"></option>
                        </select>
                    </div>
                    <div class="d-flex justify-content-between">
                        <button id="btn-submit-saml" class="btn btn-outline-primary btn-sm px-4" th:utext="#{btn.login}"></button>
                    </div>
                </form>
            </div>
            <div class="col-3 border-left border-white">
                <div class="d-flex">
                    <div class="d-flex flex-column align-items-center">
                        <img id="proLogo-light" th:src="@{static/img/provision_b.png}" class="rounded" th:alt="#{title.global}" style="width: 150px;">
                        <img id="proLogo-dark" th:src="@{static/img/provision_w.png}" class="rounded d-none" th:alt="#{title.global}" style="width: 150px;">
                        <span th:text="#{title.global}"></span>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <input type="hidden" id="error" th:if="${error}" th:value="${error}" >
            <input type="hidden" id="_indexUrl" th:value="@{/index}" >
            <input type="hidden" id="_loginUrl" th:value="@{/login}" >
        </div>
    </div>
    <script th:inline="javascript">
        function onLoading(){
            $('body').click();
            $.each($('.overlay'), function(){
                $(this).removeClass('hidden');
            });
            removeDuplicateModal();
        }
        function removeDuplicateModal(){
            if($('.modal-backdrop')){
                let size = $('.modal-backdrop').length - 1 ;
                $.each($('.modal-backdrop'), function(idx, item){
                    if( size != idx){
                        $(item).remove();
                    }
                });
            }
        }

        function completeLoading(){
            $.each($('.overlay'), function(){
                $(this).addClass('hidden');
            });
            removeDuplicateModal();
        }

        function getFormData($form) {
            var unindexed_array = $form.serializeArray();
            var indexed_array = {};
            $.map(unindexed_array, function (n, i) {
                indexed_array[n['name']] = n['value'];
            });
            return indexed_array;
        }
        $('#btn-submit').on('click', function(){
            onLoading();
            $.ajax({
                type: 'POST',
                url: $('#loginForm').attr('action'),
                data: getFormData($('#loginForm')),
                success: function(xhr){
                    completeLoading();
                    Swal.fire({
                        icon: "success",
                        title: '登入成功，轉頁中...',
                        timer: 1000,
                        timerProgressBar: true,
                        showConfirmButton: false
                    }).then((result) => {
                        document.location.href = $('#_indexUrl').val();
                        onLoading();
                    })
                },
                error: function(jqXHR){
                    completeLoading();
                    $('#inputPwd').val('');
                    if(jqXHR.status == 406){
                        completeLoading();
                        Swal.fire ({
                            icon: "error",
                            title: '登入頁已更新，為您重新整理',
                            willClose: () => {
                                Swal.hideLoading();
                                document.location.href = $('#_loginUrl').val();
                            }
                        });
                    }else{
                        Swal.fire ({
                            icon: "error",
                            title: '帳號或密碼錯誤',
                            willClose: () => {
                                Swal.hideLoading();
                            }
                        });
                    }
                }
            });
        });
        $('#btn-submit-saml').on('click', function(){
            onLoading();
            $('#loginForm').submit();
        });
        (function () {
            // var darkSwitch = document.getElementById("darkSwitch");
            // if (darkSwitch) {
            //     initLogo();
            //     darkSwitch.addEventListener("change", function (event) {
            //         restLogo();
            //     });
            //     function initLogo() {
            //         var darkThemeSelected =
            //             localStorage.getItem("darkSwitch") !== null && localStorage.getItem("darkSwitch") === "dark";
            //         darkSwitch.checked = darkThemeSelected;
            //         restLogo();
            //     }
            //
            //     function restLogo() {
            //         if (darkSwitch.checked) {
            //             $('#proLogo-light').addClass("d-none");
            //             $('#proLogo-dark').removeClass("d-none");
            //            // localStorage.setItem("darkSwitch","dark");
            //         } else {
            //             $('#proLogo-light').removeClass("d-none");
            //             $('#proLogo-dark').addClass("d-none");
            //            // localStorage.setItem("darkSwitch","light");
            //         }
            //     }
            // }

            if(document.location.href.indexOf("login") < 0){
                Swal.fire ({
                    icon: "error",
                    title: '您已逾時，請重新登入',
                    willOpen: () => {
                        completeLoading();
                    },
                    willClose: () => {
                        Swal.hideLoading();
                        document.location.href = [[@{/login}]];
                    }
                    });
            }
            if($('#error').length != 0){
                Swal.fire ({
                    icon: "error",
                    title: '登入失敗',
                    text: $('#error').val(),
                    willOpen: () => {
                        completeLoading();
                    },
                    willClose: () => {
                        Swal.hideLoading();
                    }
                });
            }
        })();
    </script>

    <div id="overlay" class="overlay hidden vw-100 vh-100"><div class=" d-flex justify-content-center vh-100"><div class="lds-dual-ring align-self-center"></div></div>

    </div>
</body>
</html>